<div class = "row">
    <div class = "doodle-header">
        <h4 class = "display-4 mt-2 ml-2"> Let's Doodle </h4>
        <p class = "text-muted ml-2"> Note : Press any key to exit brush/pen mode (Drawing pixels continuosly)</p>
    </div>
</div>

<!-- <div class = "row">

    <form>

        <div class = "form-group row">

            <label
                for = "selectColor"
                class = "col-md-2 col-form-label">
                Select Color : 
            </label>

            <div class = "col-md-3">

                <input
                    type = "color"
                    class = "form-group form-group-sm"
                    id = "selectColor"
                    name = "selectColor"
                >

            </div>

        </div>

        <button
            class = "btn btn-success"
            type = "submit">
            Select
        </button>

    </form>

</div> -->

<hr>

<div id = "doodle-area">

</div>